<%= form_with(model:[@book_detail, @book_comment]) do |f| %>
			<div class ="row">
				<div class = "col-xs-12">
					<%= f.text_area :comment %>
				</div>
			</div>
			<span id="submitbtn"><%= f.submit "送信" %></span>
			<% end %>
