<h1>User info</h1>
ユーザーのimage,name,introductionを表示<br>
基本はログインしているユーザーの情報、他ユーザーの詳細画面に行った際は他ユーザーの内容が表示される<br>

<h1>New book</h1>
<%= form_for(book) do |f| %>

<h4>Title</h4>
<%= f.text_field :title %>

<h4>Opinion</h4>
<%= f.text_area :body %>

<%= f.submit 'Create Book' %>

<% end %>