<h1>User info</h1>

<strong>Name</strong><br>
<%= user.name %><br>
<strong>Introduction</strong><br>
<%= user.introduction %><br>
<%= link_to edit_user_path(current_user), method: :get do %>
<span class="col-xs-12 btn btn-default glyphicon glyphicon-wrench" aria-hidden="true"></span>
<% end %>
