<%= render 'users/usercommon'%>
<%= render 'books/bookcommon', book: @book %>

<h1>Books#index</h1>
<p>投稿された本のTitleとOpinionを表示</p>

<table>
	<thead>
		<tr>
		<th></th>
		<th>Title</th>
		<th>Opinion</th>
		</tr>
	</thead>

	<tbody>
		<tr>
<% @books.each do |book| %>
	<td></td>
	<td><%= book.title %></td>
	<td><%= book.body %></td>
		</tr>
	</tbody>
<% end %>
</table>