<%= render 'users/usercommon'%>
<%= render 'books/bookcommon', book: @book %>
<h1>Book detail</h1>
<p></p>
<table>
	<thead>
		<tr>
			<th>ユーザ情報</th>
			<th>book title</th>
			<th>book opinion</th>
			<th>Edit & Destroy</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>投稿ユーザの画像と名前</td>
			<td><%= @book.title %></td>
			<td><%= @book.body %></td>
			<td>edit & destroy</td>
		</tr>
	</tbody>
	</table>


